:root {
    --main-theme-color: #ff8c0f;
    --background-color: #f3f3f3;
  }

body {
    background-color: var(--background-color);
    margin: 0;
    font-family: Noto Sans;
}

/* navbar start */
.navbar-container {
    color: white;
    background-color: var(--main-theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    /* height: 10vh; */

}

.navbar {
    background-color: var(--main-theme-color);
    /* background-color: rgb(109, 79, 79); */
    width: 60%;
    display: flex;
    margin: auto;
    height: 50px;
}

.navbar img {
    margin-right: 0;
    height: 100%
}

.logo {
    background: var(--main-theme-color);
    width: 20%;
    height: 100%;
}

.logo-alt {
    display: none;
}

.student-profile-container {
    background-color: var(--main-theme-color);
    display: flex;
    width: 80%;
}

.navbar-container-alt {
    display: none;
}

.circle-subtext {
    margin-left: 8px;
}

.circle-text-container {
    transform: translateY(-12px);
}

.circle {
    background-color: #590808;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    font-size: 1.5em;
}

/* navbar end */

/* body start */
.main-container {
    width: 60%;
    display: flex;
    margin: auto;
    margin-top: 5px;
}

.left {
    /* background-color: rgb(63, 62, 62); */
    margin: 5px;
    width: 30%;
    height: 80vh;
    max-width: 30vw;
}

.filters div {
    background-color: white;
    margin: 0px 5px 10px 5px;
    height: 50px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.363);
}



.filters .info-box {
    height: auto;
    height: 570px;
    display: block;
    margin-bottom: 15px;
    overflow: auto;
}


.filters .info-box h1 {
    border-bottom: 2px black solid;
    width: 85%;
    padding-left: 10px;
    margin-left: 20px;
}

.filters .info-box p {
    margin-left: 20px;
    margin-right: 30px;
}

.filters .info-box ul {
    margin-left: 15px;
    margin-right: 30px;
}

.filters img {
    margin: 5px;
}

.filters a {
    text-decoration: none;
    color: black;
}

.filters a:link {
    color: black
}

/* .right {
    margin: 5px;
    width: 70%;
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.363);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
} */

.right {
  margin: 5px;
  width: 70%;
  height: 100vh;
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.363);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  position: relative;
  overflow-y: auto;
}

.home-info {
    text-align: center;
    margin: 0;
}

.tableauViz {
  width: 100% !important;  /* Make sure it spans the entire container width */
  height: 100% !important; /* Make sure it spans the entire container height */
  position: absolute;
}

@keyframes translate {
    0% {
        background-color: white;
    }

    100% {
        background-color: rgb(230, 226, 226);
    }
}


.active div {
    animation: translate ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

@media only screen and (max-width: 1380px) {
  body {
    background-color: lightblue;
  }

  .main-container {
    width: 95%;
  }

  .navbar {
    width: 90%;
  }

  .student-profile-container {
    justify-content: flex-end;
  }


}


@media (max-width: 850px) {


    body {
        background-color: bisque;
    }

    .student-profile-container {
        display: none;
    }

    .logo {
        display: none;
    }

    .navbar-container {
        display: none;
    }


    .navbar-container-alt {
        display: flex;
        background-color: var(--main-theme-color);
        justify-content: center;
    }
    
    .navbar-alt {
        display: flex;
        align-items: center;
        height: 10vh;
        width: 80%;
        justify-content: space-between;
    }

    .navbar-alt a {
        font-size: 21px;
        text-decoration: none;
        color: black;
    }

    .navbar-alt a:visited {
        color: black;
    }

    .navbar-alt img {
        height: 75px;

    }

    .left {
        display: none;
    }

    .right {
        width: 100%;
        display: flex;
        justify-content: center;
        
    }

    .main-container {
        display: grid;
        align-content: center;
        margin-left: 0;
        width: 100%;
    }

}